.my-primary-button {
    -fx-background-color: #1263ee;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-padding: 8 24 8 24;
    -fx-border-width: 0;
}

.my-second-button {
    -fx-background-color: none;
    -fx-text-fill: rgb(154, 154, 154);
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-padding: 8 24 8 24;
    -fx-border-width: 0;
}

.my-second-button:hover {
    -fx-text-fill: rgb(106, 106, 106);
}

.my-primary-button:hover {
    -fx-background-color: #004BCC;
}

.my-exit-button {
    -fx-background-color: #ef233c;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-padding: 4 12 4 12;
    -fx-border-width: 0;
}

.my-exit-button:hover {
    -fx-background-color: #d90429;
}

.my-close-button {
    -fx-background-color: #ef233c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-padding: 4 12 4 12;
    -fx-border-width: 0;
}

.my-close-button:hover {
    -fx-background-color: #d90429;
}

.primary-textfield {
    -fx-background-color: #f7fafc;
    -fx-border-color: #1263ee;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-focus-color: #1263ee;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 15px;
    -fx-padding: 6 10 6 10;
    -fx-text-fill: #222;
}

.primary-textfield:focused {
    -fx-border-color: #1263ee;
    -fx-background-color: #fffefe;
    -fx-effect: dropshadow(two-pass-box, #2196f388, 3, 0, 0, 1.5);
}

.my-checkbox .box {
    -fx-background-color: #f7fafc;
    -fx-border-color: #1263ee;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 2;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-max-width: 20;
    -fx-max-height: 20;
}

.my-checkbox:selected .box {
    -fx-background-color: #1263ee;
    -fx-border-color: #004BCC;
}

.my-checkbox:selected .mark {
    -fx-background-color: white;
}

.my-checkbox .text {
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
    -fx-padding: 0 0 0 8;
    -fx-font-weight: 500;
}

.my-checkbox:focused .box {
    -fx-border-color: #1263ee;
    -fx-effect: dropshadow(two-pass-box, #2196f377, 2, 0, 0, 1);
}

.question-button {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #9e9e9e;
    -fx-font-size: 16px;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-min-width: 28;
    -fx-min-height: 28;
    -fx-max-width: 28;
    -fx-max-height: 28;
    -fx-padding: 0;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-font-weight: normal;
}

.question-button:hover {
    -fx-background-color: #e4e4e4;
    -fx-text-fill: #7e7e7e;
    -fx-border-color: #cacaca;
}

.back-button {
    -fx-background: none;
    -fx-text-fill: #9e9e9e;
    -fx-font-size: 22px;
    -fx-cursor: hand;
    -fx-font-weight: normal;
}

.list-selection-view .button {
    -fx-background-color: #b5b5b5; 
    -fx-text-fill: white !important;
    -fx-font-weight: bold;
}

.list-selection-view .button:hover {
    -fx-background-color: #a8a8a8;
}

.list-selection-view .list-view {
    -fx-border-color: #1263ee;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.list-selection-view .list-view .list-cell {
    -fx-background-radius: 10px;
    -fx-fill: #595959; 
}

.list-selection-view .scroll-bar {
    -fx-background-color: transparent; 
    -fx-pref-width: 10px;  
    -fx-padding: 2px;
}

.list-selection-view .scroll-bar .thumb {
    -fx-background-color: #5d5d5d;
    -fx-background-insets: 2;
    -fx-background-radius: 6px;
}

.list-selection-view .scroll-bar .track {
    -fx-background-color: #c0c0c0bb;
    -fx-background-radius: 6px;
}

.list-selection-view .scroll-bar:horizontal {
    -fx-pref-height: 8px; 
}

.list-selection-view .scroll-bar:vertical {
    -fx-pref-width: 16px; 
}